<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="/icon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{HEAD_CONTENT}}
    <title>{{PAGE_TITLE}}</title>
  </head>
  <body>
    <div id="app"></div>
    <script type="module">
      import { mount } from "svelte";
      import "@/styles/main.css";
      import Component from "{{COMPONENT_PATH}}";

      const target = document.getElementById("app");
      if (!target) {
        throw new Error("#app not found");
      }

      const props = {{PROPS_JSON}};
      mount(Component, { target, props });
    </script>
  </body>
</html>
